.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header__logo {
  max-width: 250px;
  width: 80vw;
}

.header__right span {
  margin-right: 10px;
}

.control {
  align-items: flex-end;
  background: #444;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 10px;
}

.control label {
  font-size: 0.8rem;
  margin-left: 10px;
}

.control input {
  height: 1.4rem;
  margin-left: 5px;
}

.value-input {
  max-width: 60px;
  width: 70%;
}

.description-input {
  width: 250px;
}

.control select {
  height: 1.75rem;
  margin-left: 5px;
  min-width: 80px;
}

.control button {
  background: rgb(82, 80, 199);
  border: none;
  color: white;
  margin-left: 5px;
  min-width: 8rem;
  padding: 0.41rem;
}

table {
  width: 100%;
}

td {
  text-align: center;
}

.btn-delete {
  background: rgb(255, 0, 0);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 8px 10px;
}

.btn-delete:hover {
  background: rgb(167, 0, 0);
}