.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header__logo {
  max-width: 250px;
  width: 80vw;
}

.header__right span {
  margin-right: 10px;
}

.control {
  background: #444;
  color: white;
  padding: 10px;
}

.table {
  top: 0;
}

.table__title {
  background: #888;
  color: white;
  font-size: 12px;
  margin-top: 15px;
  padding: 7px;
}